html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: lightcyan;
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  font-size: 20px;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
